.git
.gitignore
.env
.env.local
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache
.pytest_cache
htmlcov
.coverage
*.egg-info
dist
build
*.log
.DS_Store
Thumbs.db
*.sqlite3
staticfiles
media
.idea
.vscode
*.md
tests
locustfile.py
