.announcement-bar {
  background-color: #940045;
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  transition: transform 0.3s ease;
}

.announcement-bar.hidden {
  transform: translateY(-100%);
}

@media (max-width: 768px) {
  .announcement-bar {
    font-size: 11px;
    padding: 8px 10px;
  }
}
